/*===================
	Global style 
=====================*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.margin-0 {
  margin: 0;
}

.container {
  max-width: 1080px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.btn {
  outline: none !important;
}

.btn-link {
  color: #09438B;
  text-decoration: none;
  font-weight: 700;
}
.btn-link:hover {
  color: #333434;
}

.btn-bg {
  font-weight: 700;
  color: #fff;
  background-color: #09438B;
  border-radius: 0px;
  font-size: 13px;
  padding: 7px 15px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.btn-bg:hover {
  background-color: #073267;
  color: #fff;
}

i[class*=fa-chevron] {
  font-size: 12px;
}

input {
  text-align: right;
}

.body-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.568627451);
  opacity: 0;
  display: none;
}

.serach-box {
  position: fixed;
  z-index: 101;
  opacity: 0;
  display: none;
  transform: translate(50%, 50%);
  top: 44%;
  right: 50%;
}
.serach-box .search-form {
  width: 600px;
}
.serach-box .search-form .search-input-btn {
  background-color: rgba(255, 255, 255, 0.4509803922);
  border-radius: 99px;
  height: 67px;
  padding: 0 0.75em;
}
.serach-box .search-form .search-input-btn .search-field {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 30px;
  outline: none;
}
.serach-box .search-form .search-input-btn .search-field::placeholder {
  color: #fff;
}
.serach-box .search-form .search-input-btn .submit-btn {
  color: #fff;
  height: 100%;
  width: 100%;
}
.serach-box .search-form .search-input-btn .submit-btn i {
  font-size: 1.8em;
}

.menu-list .nav .nav-item {
  display: inline-block;
  margin: 0 7px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.menu-list .nav .nav-item > a {
  color: #666666;
  padding: 10px 0 20px;
  font-weight: 700;
  line-height: 16px;
  font-size: 0.9em;
}
.menu-list .nav .nav-item.active a {
  color: #333434;
}
.menu-list .nav .nav-item:before {
  content: "";
  width: 0px;
  height: 4px;
  top: -5px;
  right: 50%;
  display: block;
  position: relative;
  background-color: #09438B;
  transition: all 0.3s ease-in-out;
}
.menu-list .nav .nav-item:hover {
  color: var(--active-color);
}
.menu-list .nav .nav-item:hover:before {
  width: 100%;
  right: 0;
}
.menu-list .nav .nav-item.has-dropdown .dropdown-list {
  position: absolute;
  background-color: #fff;
  min-width: 260px;
  text-align: right;
  display: inline-block;
  padding: 20px 0;
  top: 40px;
  z-index: 4;
  border: 2px solid #ddd;
  display: none;
  transition: all 0.2s ease-in-out;
}
.menu-list .nav .nav-item.has-dropdown .dropdown-list:before {
  content: "";
  border: 1px solid #D0D0D0;
  border-bottom-color: #fff;
  border-right-color: #fff;
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  right: 30px;
  position: absolute;
  rotate: 45deg;
}
.menu-list .nav .nav-item.has-dropdown .dropdown-list li {
  display: block;
  margin: 0;
}
.menu-list .nav .nav-item.has-dropdown .dropdown-list li a {
  padding: 10px 20px;
  display: block;
  line-height: 1.3;
  color: #666666;
  font-size: 0.9em;
}
.menu-list .nav .nav-item.has-dropdown .dropdown-list li a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.menu-list .nav .nav-item.has-dropdown:hover .dropdown-list {
  display: block;
  transition: all 0.2s ease-in-out;
}

.mobile-navbar {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: none;
}
.mobile-navbar .close-btn {
  position: absolute;
  top: 0;
  left: 0;
}
.mobile-navbar .close-btn i {
  font-size: 25px;
}
.mobile-navbar .search-input-btn {
  background-color: #f2f1f0;
  border-radius: 20px;
  height: 33px;
  padding: 0 0.75em;
  border: 1px solid #ddd;
}
.mobile-navbar .search-input-btn .search-field {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.mobile-navbar .search-input-btn .search-field::placeholder {
  color: #D0D0D0;
}
.mobile-navbar .search-input-btn .submit-btn i {
  color: #686868;
}
.mobile-navbar .menu-list .nav {
  display: block;
}
.mobile-navbar .menu-list .nav .nav-item {
  display: block;
  text-align: center;
  padding: 15px 0;
}
.mobile-navbar .menu-list .nav .nav-item:hover {
  background-color: #f2f1f0;
}
.mobile-navbar .menu-list .nav .nav-item:before {
  display: none;
}
.mobile-navbar .menu-list .nav .nav-item.has-dropdown .dropdown-list {
  display: none;
  position: unset;
  text-align: center;
  background: #f2f1f0;
  border: none;
  margin-top: 20px;
  padding: 10px 0;
}
.mobile-navbar .menu-list .nav .nav-item.has-dropdown .dropdown-list:before {
  display: none;
}
.mobile-navbar .menu-list .nav .nav-item.has-dropdown:hover .dropdown-list {
  position: unset;
}
.mobile-navbar .menu-list .nav .nav-item.has-dropdown i {
  margin: 0 15px;
}

.breadcrumb {
  margin: 0;
  color: #333434;
  font-weight: 600;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f053";
  font-weight: 600;
  margin: 0 15px;
  padding-right: 0;
  color: #333434;
}
.breadcrumb .breadcrumb-item.active {
  color: #333434;
}
.breadcrumb .breadcrumb-item a {
  color: #333434;
}
.breadcrumb .breadcrumb-item a:hover {
  color: #09438B;
}

.page-content {
  padding-bottom: 130px;
}

.card.new-card {
  border: none;
}
.card.new-card .new-card-img {
  position: relative;
  height: 211px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card.new-card .new-card-img img {
  border-radius: 0;
  flex-shrink: 0;
  height: 100%;
}
.card.new-card .new-card-img .img-text {
  position: absolute;
  bottom: 10px;
  right: 0;
  background-color: #09438B;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  padding: 3px 7px;
  border-radius: 5px 0 0 5px;
}
.card.new-card .card-body .card-title h5 {
  font-weight: 700;
  font-size: 15px;
  color: #333434;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 1.6;
  height: 50px;
}
.card.new-card .card-body .card-title h5:hover {
  color: #09438B;
}
.card.new-card .card-body .card-text {
  color: #666666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-height: 1.6;
}
.card.new-card .card-body .card-text.card-date {
  margin-bottom: 10px;
}
.card.new-card .card-body .card-text.card-date .text-muted {
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .card.new-card .card-body {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-header {
  padding: 50px 0;
  font-family: 500;
}

.text-muted {
  color: #D0D0D0 !important;
}

.sidebar {
  width: 28%;
}
.sidebar .sidebar-box {
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  overflow: hidden;
}
.sidebar .sidebar-box .box-head {
  padding: 10px;
  color: #fff;
  font-weight: 600;
  background-color: #09438B;
}
.sidebar .sidebar-box table thead tr {
  border-bottom: 1px solid #D0D0D0;
}
.sidebar .sidebar-box table thead th,
.sidebar .sidebar-box table thead td,
.sidebar .sidebar-box table tbody th,
.sidebar .sidebar-box table tbody td {
  color: #333434;
}
.sidebar .sidebar-box table tbody th,
.sidebar .sidebar-box table tbody td {
  font-weight: 400;
}
.sidebar .sidebar-box .join-us .email-input {
  width: 65%;
  border: 1px solid #D0D0D0;
  font-size: 13px;
  padding: 7px 15px;
  color: #666666;
  border-radius: 4px;
}
.sidebar .sidebar-box .btn-bg {
  width: 30%;
  border-radius: 4px;
}
.sidebar .sidebar-box .calc-rate-img {
  width: 65px;
}
.sidebar .sidebar-box .accordion .accordion-item {
  border: none;
  color: #333434;
}
.sidebar .sidebar-box .accordion .accordion-item .accordion-button {
  background-color: #F5F5F5;
  outline: none;
  color: #333434 !important;
}
.sidebar .sidebar-box .accordion .accordion-item .accordion-button::after {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}

.content-inner {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .content-inner {
    width: 100%;
  }
}

.social-list li {
  display: inline-block;
  padding: 0 5px;
}
.social-list li a {
  color: #666666;
}
.social-list li:hover a {
  color: #333434;
}

.tooltip-inner {
  background-color: #fff;
  color: #333434;
  border: 1px solid #D0D0D0;
  opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  display: none;
}

/*===================
	Start Header style 
=====================*/
.header {
  background-color: #E0EAF6;
  position: absolute;
  top: -110px;
  right: 0;
  left: 0;
  z-index: 10000;
}
.header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  top: 0;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.header .header-top {
  height: 20px;
  background-color: #09438B;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header .header-inner .menu-btn {
  display: none;
  color: #666666;
  font-size: 16px;
  cursor: pointer;
}
.header .header-inner .logo img {
  max-height: 90px;
}
.header .header-inner .language a {
  text-transform: uppercase;
  color: #09438B;
  font-weight: 700;
  display: block;
}
.header .header-inner .language a:after {
  content: "";
  width: 70%;
  height: 2px;
  bottom: 0;
  right: 15%;
  display: block;
  position: relative;
  background-color: #09438B;
  transition: all 0.3s ease-in-out;
}
.header .header-inner .language a:hover {
  color: #333434;
}
.header .header-inner .language a:hover:after {
  width: 100%;
  right: 0;
  background-color: #333434;
}
.header.subpage-header {
  background-color: #fff;
}
.header.subpage-header .header-inner {
  border-bottom: 1px solid #E5E5E5;
}
@media only screen and (max-width: 768px) {
  .header {
    top: -30px;
  }
  .header .header-top {
    display: none;
  }
  .header .header-inner {
    justify-content: start;
    height: 50px;
  }
  .header .header-inner .menu-btn {
    display: block;
    width: 33%;
  }
  .header .header-inner .logo {
    width: 33%;
    height: 100%;
  }
  .header .header-inner .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header .header-inner .logo a img {
    height: 140%;
  }
  .header .header-inner .menu-list {
    display: none;
  }
  .header .header-inner .language {
    display: none;
  }
}

.mt-page {
  margin-top: 110px;
}
@media only screen and (max-width: 768px) {
  .mt-page {
    margin-top: 30px;
  }
}

/*===================
	Start banner style 
=====================*/
.banner {
  height: 550px;
  position: relative;
  background-color: #09438B;
}
.banner video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}
.banner .banner-content {
  z-index: 1;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
.banner .banner-content h2 {
  font-weight: 700;
}

/*===================
	Start reports style 
=====================*/
.reports {
  padding: 20px 15px 40px;
}
.reports .report {
  padding: 40px;
  background-color: #fff;
  border: 1px solid #D0D0D0;
  border-radius: 5px;
}
.reports .report .reprot-img {
  width: 100px;
  margin: 0 auto 1em;
}
.reports .report .reprot-img img {
  width: 100%;
}
.reports .report .report-link {
  padding-top: 25px;
}
.reports .report .report-link .button {
  border-radius: 93px;
  padding: 7px 0px;
  background-color: #09438B;
  color: #fff;
  width: 100%;
  display: block;
  font-size: 0.97em;
  font-weight: bolder;
  line-height: 2.4em;
  min-height: 2.5em;
}
.reports .report .report-link .button span {
  display: inline-block;
  line-height: 1.6;
}
.reports .report .report-link .button:hover {
  background-color: #073267;
  transition: all 0.2s ease-in-out;
}

/*===================
	Start numbers style 
=====================*/
.numbers {
  padding-bottom: 140px;
}
.numbers .enterprise-number {
  padding-top: 10%;
}
.numbers .enterprise-number h2 {
  margin-bottom: calc(0.5em + 50px);
  font-weight: 700;
  color: #09438B;
}
.numbers .enterprise-number .card-number {
  color: #3D464D;
}
.numbers .enterprise-number .card-number.with-height {
  min-height: 166px;
}
.numbers .enterprise-number .card-number.with-height .perc-num h3 {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .numbers .enterprise-number .card-number {
    min-height: 140px;
  }
  .numbers .enterprise-number .card-number.with-height {
    min-height: 140px;
  }
}
.numbers .enterprise-number .card-number h3 {
  font-weight: 700;
}
.numbers .enterprise-number .card-number h3.text {
  font-size: 15px !important;
}
.numbers .enterprise-number .card-number .num {
  font-size: 45px;
}
.numbers .enterprise-number .card-number .num-has-text {
  font-size: 15px;
  margin-right: -7px;
}
.numbers .enterprise-number .enterprise-news {
  position: relative;
}
.numbers .enterprise-number .enterprise-news .card-title h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  height: auto;
}
.numbers .enterprise-number .enterprise-news h3 {
  color: #09438B;
  font-weight: 700;
  border-bottom: 3px solid #09438B;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.numbers .enterprise-number .enterprise-news .owl-enterprise-news {
  position: relative;
}
.numbers .enterprise-number .enterprise-news .news-custom-nav {
  position: absolute;
  top: 33%;
  left: -20px;
  right: -20px;
}
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-prev,
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-prev i,
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-next i {
  font-size: 1.5rem;
  color: #666666;
}
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-prev {
  left: -30px;
}
.numbers .enterprise-number .enterprise-news .news-custom-nav .owl-next {
  right: -30px;
}
.numbers .enterprise-number .enterprise-news:hover .owl-prev,
.numbers .enterprise-number .enterprise-news:hover .owl-next {
  opacity: 1;
}
.numbers .enterprise-number .enterprise-news:hover .owl-prev {
  left: -25px;
}
.numbers .enterprise-number .enterprise-news:hover .owl-next {
  right: -25px;
}
.numbers .currency-box {
  padding: 10%;
  background-color: rgba(163, 189, 223, 0.5098039216);
  color: #fff;
  margin-bottom: 30px;
}
.numbers .currency-box h5 {
  color: #09438B;
  font-weight: 700;
  font-size: 16px;
}
.numbers .currency-box .currency-list {
  border-radius: 4px;
  background: linear-gradient(to bottom, #A3BDDF 0%, #09438B 99%);
  margin: 0 15px 30px;
  font-weight: 300;
}
.numbers .currency-box .currency-list .currency {
  line-height: 1;
}
.numbers .currency-box .currency-list .currency:first-child {
  position: relative;
  padding: 10px 11px 14px 11px;
}
.numbers .currency-box .currency-list .currency:first-child > span:first-child {
  font-size: 35px;
}
.numbers .currency-box .currency-list .currency:first-child > span:nth-of-type(2) {
  position: absolute;
  bottom: -6px;
  right: 11px;
  min-height: 1px;
  font-size: 10px;
  background: #7b9dc9;
  padding: 0 4px;
}
.numbers .currency-box .currency-list .currency:not(:first-child) {
  padding: 12px 11px;
  border-top: 1px solid rgba(255, 255, 255, 0.3098039216);
}
.numbers .currency-box .currency-list .currency > span {
  font-size: 20px;
}
.numbers .currency-box .currency-list .currency .currency-converter {
  font-size: 14px;
}
.numbers .currency-box .currency-list .currency .currency-converter span {
  display: inline-block;
  margin-right: 6px;
}
.numbers .report-download {
  background-color: rgba(163, 189, 223, 0.5098039216);
  padding: 30px 50px 50px;
}
.numbers .report-download .img-report {
  width: 78%;
  margin-bottom: 1em;
}
.numbers .report-download .img-report img {
  width: 100%;
}

/*===================
	Start footer style 
=====================*/
.footer {
  padding: 40px 0;
  background-color: rgba(163, 189, 223, 0.5098039216);
}
.footer h5,
.footer h2 {
  color: #09438B;
  font-weight: 700;
}
.footer h5 {
  color: #686868;
}
.footer .footer-members {
  position: relative;
}
.footer .footer-members .owl-members {
  position: relative;
}
.footer .footer-members .owl-members .item {
  padding: 15px;
}
.footer .footer-members .member-custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.footer .footer-members .member-custom-nav .owl-prev,
.footer .footer-members .member-custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
  opacity: 0;
  transition: all 0.2s ease-in;
}
.footer .footer-members .member-custom-nav .owl-prev i,
.footer .footer-members .member-custom-nav .owl-next i {
  font-size: 1.5rem;
  color: #666666;
}
.footer .footer-members .member-custom-nav .owl-prev {
  left: -30px;
}
.footer .footer-members .member-custom-nav .owl-next {
  right: -30px;
}
.footer .footer-members:hover .owl-prev,
.footer .footer-members:hover .owl-next {
  opacity: 1;
}
.footer .footer-members:hover .owl-prev {
  left: -25px;
}
.footer .footer-members:hover .owl-next {
  right: -25px;
}
@media only screen and (max-width: 768px) {
  .footer .footer-members .member-custom-nav {
    display: none;
  }
}
.footer .footer-content .footer-logo {
  height: 70px;
}
.footer .footer-content .logo-hasText p {
  color: #09438B;
  font-weight: 700;
  font-size: 15px;
}
.footer .footer-content .logo-hasText p:nth-child(2) {
  font-size: 14px;
}
.footer .footer-content .location p {
  color: #666666;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 0.75;
}
.footer .footer-content .contact-links a {
  color: #09438B;
  font-weight: 700;
  font-size: 0.8em;
}
.footer .footer-content .footer-list .footer-list-item {
  padding: 7px 25px 7px 0;
  border-bottom: 1px solid #D0D0D0;
  position: relative;
}
.footer .footer-content .footer-list .footer-list-item a {
  font-size: 90%;
  color: #666666;
}
.footer .footer-content .footer-list .footer-list-item i {
  position: absolute;
  right: 0;
  top: 45%;
  color: #666666;
  font-size: 60%;
}
.footer .footer-content .footer-list .footer-list-item:hover a {
  color: #333434;
}
.footer .footer-social p {
  color: #666666;
}

/*===================
	Start news page style 
=====================*/
.news-page .page-content .news-cards .btn-link {
  font-size: 14px;
}

/*===================
	Start news-details page style 
=====================*/
.news-details-page .news-details-header h3 {
  font-weight: 700;
  color: #333434;
}
.news-details-page .news-details-content img {
  width: 50%;
  margin: 0 0 20px 20px;
}
.news-details-page .news-details-content p {
  font-size: 18px;
  color: #666666;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .news-details-page .news-details-content img {
    width: 100%;
  }
}

/*===================
	Start releases page style 
=====================*/
.releases-page .new-card-img {
  padding: 20px;
}
.releases-page .new-card-img img {
  width: auto;
  height: 100%;
}

/*===================
	Start deposit table page style 
=====================*/
.deposit-page .content-inner .data-tabel {
  border-color: #B9B9B9;
  color: #333434;
  font-size: 15px;
}
.deposit-page .content-inner .data-tabel thead tr th {
  background-color: #F5F5F5;
}
.deposit-page .content-inner .data-tabel tbody tr th {
  background-color: #E0EAF6;
  font-weight: 500;
}
.deposit-page .content-inner .data-tabel tbody tr td {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .deposit-page .content-inner {
    max-height: 500px;
  }
}

/*===================
	Start contact page style 
=====================*/
.contact-page .content-inner {
  color: #333434;
}
.contact-page .content-inner h4 {
  font-weight: 700;
}
.contact-page .content-inner .contact-info {
  border: 3px solid #E0EAF6;
  border-radius: 20px;
  padding: 15px 0;
  text-align: center;
}
.contact-page .content-inner .contact-info p {
  margin: 0;
  color: #09438B;
  font-weight: 600;
}
.contact-page .content-inner .follow-us .social-list li a {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #E0EAF6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #09438B;
  transition: all 0.3s ease-in-out;
}
.contact-page .content-inner .follow-us .social-list li a:hover {
  color: #fff;
  background-color: #09438B;
}
.contact-page .content-inner .suggestions .sugg-label {
  font-weight: 500;
}
.contact-page .content-inner .suggestions input {
  color: #666666;
  font-size: 14px;
  height: 40px;
}
.contact-page .content-inner .suggestions input::placeholder {
  color: #666666;
}
.contact-page .content-inner .suggestions .btn-bg {
  width: 100px;
  border-radius: 4px;
}

/*===================
	Start portfalio page style 
=====================*/
.portfalio-page .content-inner {
  color: #333434;
}
.portfalio-page .content-inner .portfalio-card {
  padding: 20px;
  border: 3px solid #E0EAF6;
  border-radius: 20px;
}
.portfalio-page .content-inner .portfalio-card h4 {
  font-weight: 600;
  color: #09438B;
}
.portfalio-page .content-inner .portfalio-card p {
  text-align: justify;
  line-height: 1.7;
}

/*===================
	Start jobs page style 
=====================*/
.jobs-page .jobs-tabel {
  font-size: 14px;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
}
.jobs-page .jobs-tabel thead {
  background-color: #E0EAF6;
}
.jobs-page .jobs-tabel thead th {
  font-size: 14px;
  padding: 13px 10px;
  border: none;
  font-weight: 500;
}
.jobs-page .jobs-tabel tbody td {
  padding: 15px;
}
.jobs-page .jobs-tabel tbody td:first-child {
  width: 200px;
}
.jobs-page .jobs-tabel tbody td span {
  font-weight: 500;
  display: block;
}
.jobs-page .jobs-tabel tbody td span:first-child a {
  color: #09438B;
  transition: all 0.3s ease-in-out;
}
.jobs-page .jobs-tabel tbody td span:first-child a:hover {
  color: #686868;
}
.jobs-page .jobs-tabel tbody td span:nth-child(2) {
  color: #333434;
}
.jobs-page .jobs-tabel tbody td span:nth-child(3) {
  color: #D0D0D0;
}
.jobs-page .jobs-tabel tbody td p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.jobs-page .jobs-tabel tbody .uploadFile {
  overflow: hidden;
  position: relative;
  resize: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  margin: 0 auto;
}
.jobs-page .jobs-tabel tbody .uploadFile span {
  color: #fff !important;
}
.jobs-page .jobs-tabel tbody .uploadFile [type=file] {
  cursor: pointer !important;
  display: block;
  filter: alpha(opacity=0);
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

/*===================
	Start adverts page style 
=====================*/
.adverts-page .content-inner .new-card {
  padding: 10px;
  border: 3px solid #E0EAF6;
  border-radius: 20px;
}
.adverts-page .content-inner .new-card .new-card-img {
  height: auto;
}
.adverts-page .content-inner .new-card .new-card-img img {
  height: auto;
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .adverts-page .content-inner .new-card .new-card-img img {
    width: 50%;
  }
}
.adverts-page .content-inner .new-card .card-body .card-title h5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  height: auto;
  font-size: 17px;
}

/*===================
	Start calculator page style 
=====================*/
.calculator-page .content-inner {
  width: 100%;
  color: #666666;
}
.calculator-page .content-inner .methode-calculation h4 {
  font-weight: 700;
  color: #333434;
}
.calculator-page .content-inner .methode-calculation p {
  line-height: 2;
  text-align: justify;
}
.calculator-page .content-inner .accordion .accordion-item {
  border: none;
}
.calculator-page .content-inner .accordion .accordion-item .accordion-button {
  background: linear-gradient(180deg, #09438B 0%, rgba(9, 67, 139, 0.71) 100%);
  outline: none;
  color: #fff !important;
  padding-right: 60px;
  position: relative;
}
.calculator-page .content-inner .accordion .accordion-item .accordion-button::after {
  content: "\f078";
  font-family: "FontAwesome";
  float: right;
  background-image: none;
  position: absolute;
  right: 22px;
}
.calculator-page .content-inner .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
}
.calculator-page .content-inner .accordion .accordion-item .accordion-body {
  padding: 40px;
  padding-bottom: 0;
}
.calculator-page .content-inner .accordion .accordion-item .accordion-body .btn-bg {
  margin-left: 10px;
}
.calculator-page .content-inner .accordion .accordion-item .form-body {
  padding-bottom: 20px;
}
.calculator-page .content-inner .add-info-form > div,
.calculator-page .content-inner .add-info-form .form-body > div,
.calculator-page .content-inner .add-info-form .for-company-select > div,
.calculator-page .content-inner .add-info-form .subscribers-names > div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.calculator-page .content-inner .add-info-form > div label,
.calculator-page .content-inner .add-info-form .form-body > div label,
.calculator-page .content-inner .add-info-form .for-company-select > div label,
.calculator-page .content-inner .add-info-form .subscribers-names > div label {
  font-weight: 500;
  width: 20%;
  color: #3D464D;
}
.calculator-page .content-inner .add-info-form > div input,
.calculator-page .content-inner .add-info-form > div select,
.calculator-page .content-inner .add-info-form .form-body > div input,
.calculator-page .content-inner .add-info-form .form-body > div select,
.calculator-page .content-inner .add-info-form .for-company-select > div input,
.calculator-page .content-inner .add-info-form .for-company-select > div select,
.calculator-page .content-inner .add-info-form .subscribers-names > div input,
.calculator-page .content-inner .add-info-form .subscribers-names > div select {
  width: 35%;
}
.calculator-page .content-inner .add-info-form > div input[type=radio],
.calculator-page .content-inner .add-info-form .form-body > div input[type=radio],
.calculator-page .content-inner .add-info-form .for-company-select > div input[type=radio],
.calculator-page .content-inner .add-info-form .subscribers-names > div input[type=radio] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.calculator-page .content-inner .add-info-form > div input[type=radio] + label,
.calculator-page .content-inner .add-info-form .form-body > div input[type=radio] + label,
.calculator-page .content-inner .add-info-form .for-company-select > div input[type=radio] + label,
.calculator-page .content-inner .add-info-form .subscribers-names > div input[type=radio] + label {
  width: 100%;
  cursor: pointer;
}
.calculator-page .content-inner .add-info-form > div.form-body,
.calculator-page .content-inner .add-info-form > div .for-company-select,
.calculator-page .content-inner .add-info-form > div .subscribers-names,
.calculator-page .content-inner .add-info-form .form-body > div.form-body,
.calculator-page .content-inner .add-info-form .form-body > div .for-company-select,
.calculator-page .content-inner .add-info-form .form-body > div .subscribers-names,
.calculator-page .content-inner .add-info-form .for-company-select > div.form-body,
.calculator-page .content-inner .add-info-form .for-company-select > div .for-company-select,
.calculator-page .content-inner .add-info-form .for-company-select > div .subscribers-names,
.calculator-page .content-inner .add-info-form .subscribers-names > div.form-body,
.calculator-page .content-inner .add-info-form .subscribers-names > div .for-company-select,
.calculator-page .content-inner .add-info-form .subscribers-names > div .subscribers-names {
  display: block;
}
.calculator-page .content-inner .add-info-form > div input.error,
.calculator-page .content-inner .add-info-form > div select.error,
.calculator-page .content-inner .add-info-form .form-body > div input.error,
.calculator-page .content-inner .add-info-form .form-body > div select.error,
.calculator-page .content-inner .add-info-form .for-company-select > div input.error,
.calculator-page .content-inner .add-info-form .for-company-select > div select.error,
.calculator-page .content-inner .add-info-form .subscribers-names > div input.error,
.calculator-page .content-inner .add-info-form .subscribers-names > div select.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}
.calculator-page .content-inner .add-info-form > div input.error + label,
.calculator-page .content-inner .add-info-form > div select.error + label,
.calculator-page .content-inner .add-info-form .form-body > div input.error + label,
.calculator-page .content-inner .add-info-form .form-body > div select.error + label,
.calculator-page .content-inner .add-info-form .for-company-select > div input.error + label,
.calculator-page .content-inner .add-info-form .for-company-select > div select.error + label,
.calculator-page .content-inner .add-info-form .subscribers-names > div input.error + label,
.calculator-page .content-inner .add-info-form .subscribers-names > div select.error + label {
  color: red !important;
  margin-top: 5px;
  padding: 0 10px;
  width: 30%;
}
@media only screen and (max-width: 481px) {
  .calculator-page .content-inner .add-info-form > div,
  .calculator-page .content-inner .add-info-form .form-body > div,
  .calculator-page .content-inner .add-info-form .for-company-select > div,
  .calculator-page .content-inner .add-info-form .subscribers-names > div {
    display: block;
  }
  .calculator-page .content-inner .add-info-form > div label,
  .calculator-page .content-inner .add-info-form .form-body > div label,
  .calculator-page .content-inner .add-info-form .for-company-select > div label,
  .calculator-page .content-inner .add-info-form .subscribers-names > div label {
    width: 100%;
  }
  .calculator-page .content-inner .add-info-form > div input,
  .calculator-page .content-inner .add-info-form > div select,
  .calculator-page .content-inner .add-info-form .form-body > div input,
  .calculator-page .content-inner .add-info-form .form-body > div select,
  .calculator-page .content-inner .add-info-form .for-company-select > div input,
  .calculator-page .content-inner .add-info-form .for-company-select > div select,
  .calculator-page .content-inner .add-info-form .subscribers-names > div input,
  .calculator-page .content-inner .add-info-form .subscribers-names > div select {
    width: 100%;
  }
  .calculator-page .content-inner .add-info-form > div input.error + label,
  .calculator-page .content-inner .add-info-form .form-body > div input.error + label,
  .calculator-page .content-inner .add-info-form .for-company-select > div input.error + label,
  .calculator-page .content-inner .add-info-form .subscribers-names > div input.error + label {
    width: 100%;
  }
}
.calculator-page .content-inner .for-one-person .report-info > div:not(:first-child) {
  text-align: center;
}
@media only screen and (max-width: 481px) {
  .calculator-page .content-inner .for-one-person .report-info > div {
    width: 100%;
  }
  .calculator-page .content-inner .for-one-person .report-info > div:not(:first-child) {
    text-align: right;
  }
}
.calculator-page .content-inner .for-one-person .another-info h6 {
  width: 53%;
}
@media only screen and (max-width: 481px) {
  .calculator-page .content-inner .for-one-person .another-info h5 {
    width: 100%;
  }
}
.calculator-page .content-inner .for-sum-persons {
  border-top: 1px solid #D0D0D0;
  padding-top: 30px;
}
.calculator-page .content-inner h6,
.calculator-page .content-inner h5,
.calculator-page .content-inner p {
  font-weight: 600;
}
.calculator-page .content-inner h6.note,
.calculator-page .content-inner h5.note,
.calculator-page .content-inner p.note {
  color: #09438B;
  font-weight: 500;
}

/*===================
	Start print page style 
=====================*/
.print-page {
  padding: 50px 200px;
}
.print-page h6,
.print-page h5,
.print-page p {
  font-weight: 600;
}
.print-page h6.note,
.print-page h5.note,
.print-page p.note {
  color: #09438B;
  font-weight: 500;
}
.print-page .for-one-person-print .report-info > div,
.print-page .for-sum-persons-print .report-info > div {
  width: 33%;
}
.print-page .for-one-person-print .report-info > div:not(:first-child),
.print-page .for-sum-persons-print .report-info > div:not(:first-child) {
  text-align: center;
}
@media only screen and (max-width: 481px) {
  .print-page .for-one-person-print .report-info > div,
  .print-page .for-sum-persons-print .report-info > div {
    width: 100%;
  }
  .print-page .for-one-person-print .report-info > div:not(:first-child),
  .print-page .for-sum-persons-print .report-info > div:not(:first-child) {
    text-align: right;
  }
}
.print-page .for-one-person-print .another-info h6,
.print-page .for-one-person-print .another-info span,
.print-page .for-sum-persons-print .another-info h6,
.print-page .for-sum-persons-print .another-info span {
  width: 33%;
}
@media only screen and (max-width: 481px) {
  .print-page .for-one-person-print .another-info h5,
  .print-page .for-one-person-print .another-info span,
  .print-page .for-sum-persons-print .another-info h5,
  .print-page .for-sum-persons-print .another-info span {
    width: 100%;
  }
}
.print-page .for-sum-persons-print {
  border-top: 1px solid #D0D0D0;
  padding-top: 30px;
}

/*===================
	Start print page style 
=====================*/
.advert-details-page .advert-details-header {
  color: #333434;
  text-align: center;
}
.advert-details-page .advert-details-header h3 {
  font-weight: 700;
}
.advert-details-page .advert-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advert-details-page .advert-img img {
  width: 40%;
}
.advert-details-page .advert-details-content p {
  font-size: 18px;
  color: #666666;
  text-align: justify;
}/*# sourceMappingURL=style.css.map */