$mainColor: #09438B;
$mainLightColor: #A3BDDF82;
$subColor: #E0EAF6;
$grayLightColor: #666666;
$grayDarkColor: #333434;
$grayFooterColor: #686868;
$whiteColor: #fff;
$whiteLightColor: #FFFFFF4F;
$borderColor: #D0D0D0;
$textColor: #3D464D;