$mainColor: #09438B;
$mainDarkColor: #073267;
$mainLightColor: #A3BDDF82;
$subColor: #E0EAF6;
$grayLightColor: #666666;
$grayDarkColor: #333434;
$grayFooterColor: #686868;
$grayBorderHeader: #E5E5E5;
$whiteColor: #fff;
$whiteLightColor: #FFFFFF4F;
$borderColor: #D0D0D0;
$textColor: #3D464D;

$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-300: 300;

$font-family: 'Tajawal', sans-serif